.Card{
    display: flex;
    flex-wrap: wrap;

}
.headers{
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 10px;
    width: 100%;
    
}
.poster{
    width:100%;
    
}
.container{
    width: 30%;
    border:groove;
   
}
.Trailer{
    border: groove;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.headers2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 20px;
    width: 100%;
 text-align: center;   
}
